* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black; 
}

.container {
    background-image: url('brooklynpictures/brooklynBG.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('home/nycBG.jpg') no-repeat top center / cover;
}


#logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px; 
    z-index: 1001;
}


nav {
  background: transparent; 
  position: fixed;
  top: 0;
  right: 0; 
  width: auto; 
  z-index: 1000;
  padding: 10px 20px; 
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; 
  justify-content: flex-end; 
}


nav ul {
    list-style: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

nav li {
    margin-left: 20px; 
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px; 
    line-height: 80px;
    font-weight: bold;
}

nav a:hover {
    color: #ccc; 
}


.logo {
    height: 80px; 
    cursor: pointer;
}

.menu a, .dropbtn {
    text-decoration: none;
    color: white; 
    font-size: 1.2em;
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ccc; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%; 
    background-color: rgb(166, 160, 160, 0.5); 
    min-width: 160px;
    box-shadow: none; 
    z-index: 1;
}

.dropdown-content a {
  color: white; 
  padding: 22px 26px; 
  text-decoration: none;
  display: block;
  font-size: 16px; 
  transition: background-color 0.3s ease; 
  font-weight: 36px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.hero-content h1 {
  color: white;
  font-size: 4rem; 
  font-weight: bold;
  text-shadow:
    1px 1px 0 #777,   
    2px 2px 0 #777,
    3px 3px 0 #777,
    4px 4px 0 #777,
    5px 5px 0 #777,
    6px 6px 0 #777; 
}

#hero h1,
#hero p {
  transition: opacity 0.5s ease-out;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
  text-align: center;
}


.hero-content p {
  color: white;
  font-size: 2rem; 
  font-weight: bold;
  text-shadow:
    1px 1px 0 #777,   
    2px 2px 0 #777,
    3px 3px 0 #777; 
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.restaurants-section h2 {
    font-family: 'Dancing Script', cursive; 
    color: #f55a5a;  
    font-size: 3rem; 
    text-align: center; 
    text-shadow: 
      1px 1px 0 #e2e2e2,
      2px 2px 0 #c5c5c5,
      3px 3px 0 #a8a8a8,
      4px 4px 0 #8b8b8b,
      5px 5px 0 #6e6e6e,
      6px 6px 5px rgba(0,0,0,0.1), 
      6px 6px 1px rgba(0,0,0,0.5), 
      0 0 5px rgba(0,0,0,0.1), 
      0 0 10px rgba(0,0,0,0.2),
      0 0 15px rgba(0,0,0,0.3),
      0 0 20px rgba(0,0,0,0.4),
      0 0 25px rgba(0,0,0,0.5);
}

.restaurants-section {
  text-align: center;
  padding: 2rem 0;
}

.restaurant-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 1rem;
  padding: 1rem;
}

.restaurant {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
}

.restaurant-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.restaurant-name {
  font-size: 1.5rem;
  color: #333;
  margin: 0.5rem 0;
}

.restaurant-type {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}

.restaurant-rating {
  font-size: 1.5rem;
  color: #ffc107; 
}

.star {
  color: #ffc107; 
  margin: 0 0.1rem;
}


.star:hover {
  transform: scale(1.2); 
  transition: transform 0.2s;
}

.restaurant {
  transition: transform 0.3s ease-in-out; 
}

.restaurant:hover {
  transform: scale(1.1); 
}

.restaurant a {
    text-decoration: none; 
    color: inherit; 
}

.restaurant a:hover {
    text-decoration: underline; 
}

.events-title {
  font-size: 3rem; 
  color: #ffffff; 
  text-shadow: 
    1px 1px 0 #8c8c8c, 
    2px 2px 0 #787878,
    3px 3px 0 #5c5c5c, 
    4px 4px 0 #454545, 
    5px 5px 0 #2e2e2e, 
    6px 6px 0 #212121, 
    7px 7px 0 #0f0f0f; 
  font-weight: bold;
  margin-bottom: 1em; 
  -webkit-text-stroke: 1px black; 
}

.event-subtitle {
    font-size: 1.5em; 
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #777, 2px 2px 0 #777; 
    margin-top: 10px; 
    font-weight: bold;
    margin-bottom: 2em; 
    -webkit-text-stroke: 1px black; 
}

.event-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.event a{
  text-decoration: none;
}

.event {
  width: 300px; 
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding: 1em;
  margin: 1em;
  text-align: center; 
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.2s;
}

.event:hover {
  transform: scale(1.1); 
}

#events {
  text-align: center;
}

.event-img {
  width: 100%; 
  height: auto; 
  margin-bottom: 1em; 
}

.event-box {
    padding: 20px; 
}

.event-box img {
    width: 100%; 
    margin-bottom: 15px; 
}


.event-description {
    padding-top: 10px;
    font-size: 1em; 
    margin-bottom: 10px; 
}

.event-date {
    font-size: 0.85em; 
    color: #555; 
    margin-bottom: 15px; 
    padding-top: 10px;
}

.places-title {
  font-size: 3rem; 
  color: #ffffff; 
  text-shadow: 1px 1px 0 #8c8c8c, 2px 2px 0 #787878, 3px 3px 0 #5c5c5c, 4px 4px 0 #454545, 5px 5px 0 #2e2e2e, 6px 6px 0 #212121, 7px 7px 0 #0f0f0f; 
  font-weight: bold;
  margin-bottom: 1em; 
  -webkit-text-stroke: 1px black; 
  text-align: center; 
  margin-top: 1em; 
}

.places-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em; 
}

.place {
  width: 300px; 
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin: 0.5em; 
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.2s;
}

.place:hover {
  transform: scale(1.05); 
}

.place-img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.place-box {
    padding: 20px; 
}

.place-box img {
    width: 100%; 
    margin-bottom: 15px; 
}

.place-description {
    padding-top: 10px;
    font-size: 1em; 
    margin-bottom: 10px; 
}

.section-title {
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 1px 1px 0 #8c8c8c, 2px 2px 0 #787878, 3px 3px 0 #5c5c5c, 4px 4px 0 #454545, 5px 5px 0 #2e2e2e, 6px 6px 0 #212121, 7px 7px 0 #0f0f0f;
  font-weight: bold;
  margin-bottom: 1em;
  -webkit-text-stroke: 1px black;
  text-align: center;
  margin-top: 1em;
}

.hotels-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em;
}

.hotel {
  flex: 1;
  max-width: calc(25% - 1em);
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin: 0.5em;
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.2s;
}

.hotel:hover {
  transform: scale(1.05);
}

.hotel-img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.hotel-box {
  padding: 20px;
}

.hotel-box img {
  width: 100%;
  margin-bottom: 15px;
}

.hotel-description {
  padding-top: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

#try-me-section {
  text-align: center; 
  margin: 2em 0; 
}

.try-me-button {
  display: inline-block; 
  padding: 10px 20px; 
  font-size: 1.5em; 
  color: #ffffff; 
  background-color: #007bff; 
  text-decoration: none; 
  border: none; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.try-me-button:hover {
  background-color: #0056b3; 
}
