<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manhattan</title>
    <link rel="stylesheet" href="/static/manhattan/manhattan.css">
    <link rel="stylesheet" href="/static/style.css">

    <script src="/static/manhattan/manhattan.js" defer></script>
</head>
<body>
  <header>
    <div class="container">
      <img src="/static/home/Logo.png" alt="DiscoverNY Logo" id="logo">
      <nav>
          <ul id="nav-menu">
              <li><a class="nav-button" href="{% url 'home' %}">Home</a></li>
              <li class="dropdown">
                  <a href="#destinations" class="dropbtn">Destinations ☰</a>
                  <div class="dropdown-content">
                    <a href="{% url 'bronx' %}">The Bronx</a>
                    <a href="{% url 'brooklyn' %}">Brooklyn</a>
                    <a href="{% url 'queens' %}">Queens</a>
                    <a href="{% url 'staten_island' %}">Staten Island</a>
                  </div>
              </li>
              <li><a class="nav-button" href="{% url 'recommendations' %}">Recommendations</a></li>

          </ul>
      </nav>
        <div class="hero-content">
            <h1>Manhattan</h1>
            <p>The city that never sleeps</p>
        </div>
    </div>
  </header>

  <section id="restaurants">
    <div class="restaurants-section">
      <h2>Restaurants</h2>
      <div class="restaurant-container">
        <div class="restaurant">
          <img src="/static/manhattan/ManhattanPictures/tsukimi.jpg" alt="Restaurant Image" class="restaurant-img">
          <a href="https://www.tsukimi.nyc/">
          <h3 class="restaurant-name">Tsukimi</h3>
          <p class="restaurant-type">Modern Japanese</p>
          <div class="restaurant-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
          </a>
        </div>
        <div class="restaurant">
          <img src="/static/manhattan/ManhattanPictures/eleven.jpg" alt="Restaurant Image" class="restaurant-img">
          <a href="https://www.elevenmadisonpark.com/">
          <h3 class="restaurant-name">Eleven Madison Park</h3>
          <p class="restaurant-type">Elite American</p>
          <div class="restaurant-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">☆</span>
          </div>
          </a>
        </div>
        <div class="restaurant">
          <img src="/static/manhattan/ManhattanPictures/perse.jpg" alt="Restaurant Image" class="restaurant-img">
          <a href="https://www.thomaskeller.com/perseny">
          <h3 class="restaurant-name">Per Se</h3>
          <p class="restaurant-type">Elite American</p>
          <div class="restaurant-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">☆</span>
          </div>
          </a>
        </div>
        <div class="restaurant">
          <img src="/static/manhattan/ManhattanPictures/daniel.jpg" alt="Restaurant Image" class="restaurant-img">
          <a href="https://www.danielnyc.com/">
          <h3 class="restaurant-name">Daniel NYC</h3>
          <p class="restaurant-type">French</p>
          <div class="restaurant-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
          </a>
        </div>
        <div class="restaurant">
          <img src="/static/manhattan/ManhattanPictures/bernardin.jpg" alt="Restaurant Image" class="restaurant-img">
          <a href="https://www.le-bernardin.com/">
          <h3 class="restaurant-name">Le Bernardin</h3>
          <p class="restaurant-type">French</p>
          <div class="restaurant-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">☆</span>
            <span class="star">☆</span>
          </div>
          </a>
        </div>
      </div>
    </div>

  </section>
      <section id="events">
        <h2 class="events-title">Events</h2>
        <p class="event-subtitle">Special Events that occur during Warmer Weather Seasons</p>
        <div class="event-container">
          <div class="event">
            <a href="https://www.westminsterkennelclub.org/">
            <img src="/static/manhattan/ManhattanPictures/dogShow.jpg" alt="Event 1 Image" class="event-img">
            <h3>Westminster Kennel Club Dog Show</h3>
            <p>World competition for dogs</p>
            <p class="event-date">Date: May 11th - May 14th</p>
            </a>
          </div>

          <div class="event">
            <a href="https://ninthavenuefoodfestival.com/">
            <img src="/static/manhattan/ManhattanPictures/foodFest.jpg" alt="Event 1 Image" class="event-img">
            <h3>Ninth Ave International Food Festival</h3>
            <p>Largest continuing food festival in New York City</p>
            <p class="event-date">Date: May 18th & May 19th</p>
          </div>
          <div class="event">
            <a href="https://www.moma.org/calendar/groups/24">
            <img src="/static/manhattan/ManhattanPictures/moma.jpg" alt="Event 1 Image" class="event-img">
            <h3>MoMA PS1</h3>
            <p>Immersive multimedia experience</p>
            <p class="event-date">Date: July 21st - August 25th</p>
          </div>
          <div class="event">
            <a href="https://bryantpark.org/activities/broadway-in-bryant-park">
            <img src="/static/manhattan/ManhattanPictures/bryantpark.jpg" alt="Event 1 Image" class="event-img">
            <h3>Broadway in Bryant Park</h3>
            <p>Broadway shows in an beautiful park atmosphere</p>
            <p class="event-date">Date: July 6th - July 27th</p>
            </a>
          </div>
          </div>
    </div>
  </section>

  <section id="places">
    <h2 class="places-title">Places to go to</h2>
    <div class="places-container">
      <div class="place">
        <img src="/static/manhattan/ManhattanPictures/centralpark.jpg" alt="Central Park" class="place-img">
        <div class="place-info">
          <h3>Central Park</h3>
          <p>Green Oasis in the City</p>
        </div>
      </div>

      <div class="place">
        <img src="/static/manhattan/ManhattanPictures/metro.jpg" alt="The Metropolitan Museum of Art" class="place-img">
        <div class="place-info">
          <h3>The Metropolitan Museum of Art</h3>
          <p>Historical Art Exhibits</p>
        </div>
      </div>

      <div class="place">
        <img src="/static/manhattan/ManhattanPictures/timesquare.jpg" alt="Times Square" class="place-img">
        <div class="place-info">
          <h3>Times Square</h3>
          <p>Vibrant Entertainment Hub</p>
        </div>
      </div>

      <div class="place">
        <img src="/static/manhattan/ManhattanPictures/highline.png" alt="High Line" class="place-img">
        <div class="place-info">
          <h3>High Line</h3>
          <p>Scenic Urban Walking Trail</p>
        </div>
      </div>
    </div>
  </section>

  <section id="hotel">
    <h2 class="section-title">Places to Stay</h2>
    <div class="hotels-container">
      <div class="hotel">
        <a href="https://www.thedominickhotel.com/">
        <img src="/static/manhattan/ManhattanPictures/hotelD.webp" alt="The Dominick" class="hotel-img">
        <h3 class="hotel-name">The Dominick</h3>
        <p class="hotel-description">Elegance and comfort in the heart of Manhattan.</p>
        </a>  
      </div>
      <div class="hotel">
        <a href="https://www.editionhotels.com/times-square/">
        <img src="/static/manhattan/ManhattanPictures/timeSqaureHotel.jpg" alt="he Time Square EDITION" class="hotel-img">
        <h3 class="hotel-name">The Time Square EDITION</h3>
        <p class="hotel-description">Panoramic views with top-tier amenities.</p>
        </a>
      </div>
      <div class="hotel">
        <a href="https://www.ihg.com/intercontinental/hotels/us/en/new-york/nycha/hoteldetail">
        <img src="/static/manhattan/ManhattanPictures/inter.jpg" alt="InterContinental" class="hotel-img">
        <h3 class="hotel-name">InterContinental</h3>
        <p class="hotel-description">Classic charm with modern luxury.</p>
        </a>
      </div>
      <div class="hotel">
        <a href="https://www.pendry.com/manhattan-west/">
        <img src="/static/manhattan/ManhattanPictures/pendry.jpg" alt="pendry" class="hotel-img">
        <h3 class="hotel-name">Pendry</h3>
        <p class="hotel-description">Contemporary suites in a vibrant neighborhood.</p>
        </a>
      </div>
    </div>
  </section>

  <section id="try-me-section">
    <a href="{% url 'winter_manhattan' %}" class="try-me-button">Try Me</a>
  </section>


  <script src="manhattan.js" defer></script>
</body>
</html>
