<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiscoverNY - Manhattan</title>
    <link rel="stylesheet" href="/static/manhattan/wintermanhattan.css">
    <script src="/static/manhattan/wintermanhattan.js" defer></script>
</head>
<body>
  <header>
    <div class="container">
        <nav class="navbar">
            <img src="/static/home/Logo.png" alt="DiscoverNY Logo" class="logo">
            <div class="menu">
                <a href="{% url 'home' %}">Home</a>
                <div class="dropdown">
                  <a href="#destinations" class="dropbtn">Destinations</a>
                    <div class="dropdown-content">
                      <a href="{% url 'bronx' %}">The Bronx</a>
                      <a href="{% url 'brooklyn' %}">Brooklyn</a>
                      <a href="{% url 'queens' %}">Queens</a>
                      <a href="{% url 'staten_island' %}">Staten Island</a>
                    </div>
                </div>
            
            </div>
        </nav>
        <div class="hero-content">
            <h1>Manhattan</h1>
            <p>The city that never sleeps</p>
        </div>
    </div>
  </header>
  </section>
      <section id="events">
        <h2 class="events-title">Events</h2>
        <p class="event-subtitle">Special Events that occur during Colder Weather Seasons</p>
        <div class="event-container">
          <canvas id="snow"></canvas>
          
          <div class="event">
            <a href="https://www.nycgovparks.org/highlights/places-to-go/holiday-markets-in-new-york-city-parks">
            <img src="/static/manhattan/ManhattanPictures/holidaymarkets.webp" alt="Event 1 Image" class="event-img">
            <h3>Holiday Markets</h3>
            <p>Uutdoor holiday shops that pop up all around the City</p>
            <p class="event-date">Date: Oct 27th - Jan 2nd</p>
            </a>
          </div>
      
          <div class="event">
            <a href="https://www.macys.com/s/parade/">
            <img src="/static/manhattan/ManhattanPictures/thanksgiving.jpg" alt="Event 1 Image" class="event-img">
            <h3>Thanksgiving Parade</h3>
            <p>Marching bands, celebrity guests and notable performers bring excitement to the Macy’s Thanksgiving Day Parade</p>
            <p class="event-date">Date: Nov 23rd</p>
          </div>
      
          <div class="event">
            <a href="https://www.rockefellercenter.com/holidays/rockefeller-center-christmas-tree-lighting/#holiday-activities">
            <img src="/static/manhattan/ManhattanPictures/Rockefeller Christmas Tree.jpg" alt="Event 1 Image" class="event-img">
            <h3>Rockefeller Center Tree Lighting</h3>
            <p>Visit the tree that serves as a beacon for New Yorkers and visitors alike</p>
            <p class="event-date">Date: Nov 29th - Jan 7th</p>
          </div>
      
          <div class="event">
            <a href="https://www.lincolncenter.org/lincoln-center-at-home/show/new-york-city-ballet39s-george-balanchine39s-the-nutcrackertrade-703">
            <img src="/static/manhattan/ManhattanPictures/nutcracker.webp" alt="Event 1 Image" class="event-img">
            <h3>George Balanchine’s</h3>
            <p>At the Lincoln Center watch the production of The Nutcracker</p>
            <p class="event-date">Date: July 6th - July 27th</p>
            </a>
          </div>
          
          <div class="event">
            <a href="https://www.rockettes.com/christmas/">
            <img src="/static/manhattan/ManhattanPictures/radiocity.webp" alt="Event 1 Image" class="event-img">
            <h3>Radio City Christmas Spectacular</h3>
            <p>New York City’s most famous holiday production</p>
            <p class="event-date">Date: Dec 21st - Jan 5th</p>
          </div>
          
          <div class="event">
            <a href="https://www.timessquarenyc.org/times-square-new-years-eve">
            <img src="/static/manhattan/ManhattanPictures/times_square.jpg" alt="Event 1 Image" class="event-img">
            <h3>Time Sqaure NYE</h3>
            <p>Gather in the surrounding streets to watch the celebrity commentators and performances before counting down to midnight</p>
            <p class="event-date">Date: Dec 31st</p>
          </div>
          
          <div class="event">
            <a href="https://www.rockefellercenter.com/attractions/the-rink-at-rockefeller-center/">
            <img src="/static/manhattan/ManhattanPictures/iceskating.jpg" alt="Event 1 Image" class="event-img">
            <h3>Ice Skating</h3>
            <p>Central Park and Bryant Park provide ice skating in beautiful parks</p>
            <p class="event-date">Date: Oct 25th - Feb 20th</p>
          </div>
          
          <div class="event">
            <a href="https://welcometochinatown.com/lunarnewyear">
            <img src="/static/manhattan/ManhattanPictures/chineseNY.webp" alt="Event 1 Image" class="event-img">
            <h3>Lunar New Year </h3>
            <p>New Year Firecracker Ceremony and Cultural Festival at Sara D. Roosevelt Park</p>
            <p class="event-date">Date: Feb 25th</p>
          </div>
          </div>
  </section>
 
</body>
</html>