<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brooklyn</title>
  
  <link rel="stylesheet" href="/static/brooklyn/brooklyn.css">
  <link rel="stylesheet" href="/static/style.css">

  <script src="/static/brooklyn/brooklyn.js" defer></script>
</head>
<body>
  </head>
  <body>
    <header>
      <div class="container">
        <img src="/static/home/Logo.png" alt="DiscoverNY Logo" id="logo">
        <nav>
            <ul id="nav-menu">
                <li><a class="nav-button" href="{% url 'home' %}">Home</a></li>
                <li class="dropdown">
                    <a href="#destinations" class="dropbtn">Destinations ☰</a>
                    <div class="dropdown-content">
                        <a href="{% url 'manhattan' %}">Manhattan</a>
                        <a href="{% url 'queens' %}">Queens</a>
                        <a href="{% url 'bronx' %}">The Bronx</a>
                        <a href="{% url 'staten_island' %}">Staten Island</a>
                    </div>
                </li>
                <li><a class="nav-button" href="{% url 'recommendations' %}">Recommendations</a></li>

            </ul>
        </nav>
          <div class="hero-content">
              <h1>Brooklyn</h1>
              <p>Kings County</p>
          </div>
      </div>
    </header>

    <section id="restaurants">
      <div class="restaurants-section">
        <h2>Restaurants</h2>
        <div class="restaurant-container">
          
          <div class="restaurant">
            <img src="/static/brooklyn/brooklynpictures/daves.jpeg" alt="Restaurant Image" class="restaurant-img">
            <a href="https://www.daveshotchicken.com/location/brooklyn-ny-86th-street-bayridge/">
            <h3 class="restaurant-name">Dave's hot Chicken</h3>
            <p class="restaurant-type">American Fast food</p>
            <div class="restaurant-rating">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </div>
            </a>
          </div>
          
          <div class="restaurant">
            <img src="/static/brooklyn/brooklynpictures/taj.jpg" alt="Restaurant Image" class="restaurant-img">
            <a href="https://www.mamtajmahalbrooklyn.com/">
            <h3 class="restaurant-name">Taj of India</h3>
            <p class="restaurant-type">Traditional Indian</p>
            <div class="restaurant-rating">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">☆</span>
            </div>
            </a>
          </div>
          
          <div class="restaurant">
            <img src="/static/brooklyn/brooklynpictures/Bar-and-dining-room-2000x1125.jpg" alt="Restaurant Image" class="restaurant-img">
            <a href="https://www.gageandtollner.com/">
            <h3 class="restaurant-name">Gage and Tollner</h3>
            <p class="restaurant-type">Elite American</p>
            <div class="restaurant-rating">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">☆</span>
            </div>
            </a>
          </div>
          
          <div class="restaurant">
            <img src="/static/brooklyn/brooklynpictures/Steakhouse.jpg" alt="Restaurant Image" class="restaurant-img">
            <a href="http://www.deesteakhouse.com/">
            <h3 class="restaurant-name">Destefano's Steakhouse</h3>
            <p class="restaurant-type">High end steakhouse</p>
            <div class="restaurant-rating">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </div>
            </a>
          </div>
          
          <div class="restaurant">
            <img src="/static/brooklyn/brooklynpictures/aska.jpg" alt="Restaurant Image" class="restaurant-img">
            <a href="https://askanyc.com/">
            <h3 class="restaurant-name">Aska</h3>
            <p class="restaurant-type">Scandanavian</p>
            <div class="restaurant-rating">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </div>
            </a>
          </div>
        </div>
      </div>

    </section>
        <section id="events">
          <h2 class="events-title">Events</h2>
          <p class="event-subtitle">Special Events that occur during Warmer Weather Seasons</p>
          <div class="event-container">
            
            <div class="event">
              <a href="https://www.nyctourism.com/events/brooklyn-hip-hop-festival/">
              <img src="/static/brooklyn/brooklynpictures/BHHF.jpg" alt="Event 1 Image" class="event-img">
              <h3>Brooklyn Hip Hop Festival</h3>
              <p>Largest Hip Hop Festival in Brooklyn</p>
              <p class="event-date">Date: July9th-14th</p>
              </a>
            </div>

        
            <div class="event">
              <a href="https://www.sadsummerfest.com/">
              <img src="/static/brooklyn/brooklynpictures/SSF.jpg" alt="Event 1 Image" class="event-img">
              <h3>Sad Summer Festival</h3>
              <p>Emo Pop Culture Festival</p>
              <p class="event-date">Date: August 1st</p>
            </div>
        
            <div class="event">
              <a href="https://concerts.livenation.com/nofx-brooklyn-new-york-07-14-2024/event/00005F7CA34F250C">
              <img src="/static/brooklyn/brooklynpictures/nofx.jpg" alt="Event 1 Image" class="event-img">
              <h3>NOFX</h3>
              <p>Rock Band Party</p>
              <p class="event-date">Date: July 14th</p>
            </div>
        
            <div class="event">
              <a href="https://dice.fm/event/nxb59-elrow-new-york-open-air-summer-festival-rowmuda-triangle-20th-jul-the-brooklyn-mirage-at-avant-gardner-new-york-tickets?lng=en-US">
              <img src="/static/brooklyn/brooklynpictures/elrow-33.jpg" alt="Event 1 Image" class="event-img">
              <h3>Elrow</h3>
              <p>Cultural Concert of Brooklyn</p>
              <p class="event-date">Date: July 20th</p>
              </a>
            </div>
            </div>
      </div>
    </section>

    <section id="places">
      <h2 class="places-title">Places to go to</h2>
      <div class="places-container">
        
        <div class="place">
          <img src="/static/brooklyn/brooklynpictures/bbg.jpg" alt="Brooklyn Botanic Garden" class="place-img">
          <div class="place-info">
            <h3>Brooklyn Botanic Garden</h3>
            <p>The Beauty of Brooklyn</p>
          </div>
        </div>

        
        <div class="place">
          <img src="/static/brooklyn/brooklynpictures/brookmus.jpg" alt="Brooklyn Museum" class="place-img">
          <div class="place-info">
            <h3>Brooklyn Museum</h3>
            <p>Cultural Brooklyn Introduction</p>
          </div>
        </div>

        
        <div class="place">
          <img src="/static/brooklyn/brooklynpictures/brooklyn-bridge.jpg" alt="Brooklyn Bridge" class="place-img">
          <div class="place-info">
            <h3>Brooklyn Bridge Park</h3>
            <p>Peaceful Park with Beautiful View of the Bridge</p>
          </div>
        </div>

        
        <div class="place">
          <img src="/static/brooklyn/brooklynpictures/Coney_Island_beach.jpg" alt="Coney Island" class="place-img">
          <div class="place-info">
            <h3>Coney Island</h3>
            <p>The Infamous BeachPark of the City</p>
          </div>
        </div>
      </div>
    </section>

    <section id="hotel">
      <h2 class="section-title">Places to Stay</h2>
      <div class="hotels-container">
        
        <div class="hotel">
          <a href="https://www.ihg.com/hotelindigo/hotels/us/en/find-hotels/select-roomrate?fromRedirect=true&qSrt=sBR&qIta=99636924&icdv=99636924&glat=META_hpa_paid_US_desktop_NYCMP_localuniversal_1_USD_2024-04-23_default_20703808765__FALSE_OFTNIGCOR&qSlH=NYCMP&qRms=1&qAdlt=2&qChld=0&qCiD=23&qCiMy=032024&qCoD=24&qCoMy=032024&qAAR=6CBARC&qRtP=IGCOR&qrtPt=219.00&setPMCookies=true&qSlRc=OFTN&qSHBrC=IN&qDest=500%20Metropolitan%20Ave,%20Brooklyn,%20NY,%20US&hmGUID=d245315b-03ed-4ded-14de-4908a67266d6&gclid=Cj0KCQjw8pKxBhD_ARIsAPrG45nHxhPrHVTZE_U_MgRx68edFCzE3uYg5BLCQKvWIRSVeBd9wleu20EaAj-XEALw_wcB&cm_mmc=hpa_paid_US_desktop_NYCMP_localuniversal_1_USD_2024-04-23_default_20703808765__FALSE_OFTNIGCOR&srb_u=1&qChAge=&qRmFltr=">
          <img src="/static/brooklyn/brooklynpictures/indigo.jpg" alt="Hotel Indigo" class="hotel-img">
          <h3 class="hotel-name">Hotel Indigo</h3>
          <p class="hotel-description">Your local retreat.</p>
          </a>  
        </div>
        
        <div class="hotel">
          <a href="https://www.hilton.com/en/book/reservation/rooms/?ctyhocn=NYCBSHH&arrivalDate=2024-04-23&departureDate=2024-04-24&room1NumAdults=2&inputModule=HOTEL_SEARCH&viewPackagesAndPromotionsRate=true&WT.mc_id=zLADA0US1HH2OLX3GGL4ADVSP5LF6_NYCBSHH7_281530522_&adType=PD&gclid=Cj0KCQjw8pKxBhD_ARIsAPrG45l1IzUXBOfBX2-3_MweOROlLxG3oCQzPoSQhm2tRxP8PLQFoZcND08aAt03EALw_wcB&dsclid=61226440723533824&dclid=CPWUnOqB1IUDFd030AQd7ZgGSA&hmGUID=d245315b-03ed-4ded-14de-4908a67266d6">
          <img src="/static/brooklyn/brooklynpictures/Hilton.jpg" alt="Hilton" class="hotel-img">
          <h3 class="hotel-name">Hilton Brooklyn</h3>
          <p class="hotel-description">For the stay.</p>
          </a>
        </div>
        
        <div class="hotel">
          <a href="https://www.booking.com/hotel/us/aloft-brooklyn.html?aid=356929&label=metagha-link-LUUS-hotel-260798_dev-desktop_los-1_bw-2_dow-Tuesday_defdate-1_room-0_gstadt-2_rateid-public_aud-0_gacid-12807019892_mcid-10_ppa-1_clrid-0_ad-1_gstkid-0_checkin-20240423_ppt-_lp-2840_r-6636415447528139856&sid=0217462adc012a34ddfc0a3e7c036ac4&all_sr_blocks=26079838_246425130_0_2_0;checkin=2024-04-23;checkout=2024-04-24;dest_id=20085207;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;highlighted_blocks=26079838_246425130_0_2_0;hpos=1;matching_block_id=26079838_246425130_0_2_0;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;sr_pri_blocks=26079838_246425130_0_2_0__21900;srepoch=1713726971;srpvid=a913875a9b8000b2;type=total;ucfs=1&#hotelTmpl">
          <img src="/static/brooklyn/brooklynpictures/aloft.webp" alt="Aloft" class="hotel-img">
          <h3 class="hotel-name">Aloft</h3>
          <p class="hotel-description">Perfect for a 1 night stay.</p>
          </a>
        </div>
        
        <div class="hotel">
          <a href="https://www.expedia.com/New-York-Hotels-1-Hotel-Brooklyn-Bridge.h15399642.Hotel-Information?chkin=2024-04-23&chkout=2024-04-24&x_pwa=1&rfrr=HSR&pwa_ts=1713727024223&referrerUrl=aHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vSG90ZWwtU2VhcmNo&useRewards=false&rm1=a2&regionId=177851&destination=Brooklyn%2C+New+York%2C+United+States+of+America&destType=MARKET&neighborhoodId=6004547&selected=15399642&latLong=40.678177%2C-73.94416&sort=RECOMMENDED&top_dp=338&top_cur=USD&mdpcid=US.META.HPA.HOTEL-CORESEARCH-desktop-PROMOTED.HOTEL&mdpdtl=HTL.15399642.20240423.20240424.DDT.2.CID.20596134120.AUDID.7741840452.RRID.bex_us_desktop&mctc=10&gclid=Cj0KCQjw8pKxBhD_ARIsAPrG45ldL0Z_xL-cNAkq6K6vtzgdPrfMAQBSPh2rncBDeQ6I8FgS5jR8W4AaAqmEEALw_wcB&userIntent=&selectedRoomType=201686443&selectedRatePlan=288170079&searchId=31d279ce-5946-4c2e-bfca-531e73a1eef3&propertyName=1+Hotel+Brooklyn+Bridge">
          <img src="/static/brooklyn/brooklynpictures/1 hotel.jpg" alt="1 Hotel" class="hotel-img">
          <h3 class="hotel-name">1 Hotel Brooklyn Bridge</h3>
          <p class="hotel-description">Luxury Riverwalk Hotel</p>
          </a>
        </div>
      </div>
    </section>

    <section id="try-me-section">
      <a href="{% url 'winter_brooklyn' %}" class="try-me-button">Try Me</a>
    </section>


    <script src="brooklyn.js" defer></script>
  

</body>
</html>
