<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiscoverNY - Brooklyn</title>
    <link rel="stylesheet" href="/static/brooklyn/winterbrooklyn.css">
    <script src="/static/brooklyn/winterbrooklyn.js" defer></script>
</head>
<body>
  <header>
    <div class="container">
        <nav class="navbar">
            <img src="/static/home/Logo.png" alt="DiscoverNY Logo" class="logo">
            <div class="menu">
                <a href="{% url 'home' %}">Home</a>
                <div class="dropdown">
                  <a href="#destinations" class="dropbtn">Destinations</a>
                    <div class="dropdown-content">
                        <a href="{% url 'manhattan' %}">Manhattan</a>
                        <a href="{% url 'queens' %}">Queens</a>
                        <a href="{% url 'bronx' %}">The Bronx</a>
                        <a href="{% url 'staten_island' %}">Staten Island</a>
                    </div>
                </div>
            
            </div>
        </nav>
        <div class="hero-content">
            <h1>Brooklyn</h1>
            <p>Fughettaboutit</p>
        </div>
    </div>
  </header>
  </section>
      <section id="events">
        <h2 class="events-title">Events</h2>
        <p class="event-subtitle">Special Events that occur during Colder Weather Seasons</p>
        <div class="event-container">
          <canvas id="snow"></canvas>
          
          <div class="event">
              <a href="https://www.bbg.org/lightscape">
                  <img src="/static/brooklyn/brooklynpictures/lightscape.jpg" alt="Ghouls & Gourds" class="event-img">
                  <h3>Lightscape</h3>
                  <p>Enjoy a beautiful walk through the new glowing reimagined nature of the Garden.</p>
                  <p class="event-date">Date: December 2024</p>
              </a>
          </div>

          
          <div class="event">
              <a href="https://www.brooklynmuseum.org/calendar">
                  <img src="/static/brooklyn/brooklynpictures/brookmussun.jpg" alt="First Saturdays" class="event-img">
                  <h3>First Saturdays</h3>
                  <p>Experience free art and entertainment, including live music and performances, at Brooklyn Museum</p>
                  <p class="event-date">Date: Every first Saturday of the month</p>
              </a>
          </div>

          
          <div class="event">
              <a href="https://www.prospectpark.org/event/creepy-crawly-halloween/">
                  <img src="/static/brooklyn/brooklynpictures/halloweencarnivalpros.jpeg" alt="Haunted Halloween Carnival" class="event-img">
                  <h3>Haunted Halloween Carnival</h3>
                  <p>Join the spooky fun with carnival games, costume parade, and more at Prospect Park</p>
                  <p class="event-date">Date: October 31st</p>
              </a>
          </div>

          
          <div class="event">
              <a href="https://brooklynbridgeparents.com/holiday-tree-lighting-events-in-brooklyn/">
                  <img src="/static/brooklyn/brooklynpictures/lightupbrook.png" alt="Holiday Tree Lighting" class="event-img">
                  <h3>Holiday Tree Lighting</h3>
                  <p>Celebrate the holiday season with the lighting of the tree at many Brooklyn areas.</p>
                  <p class="event-date">Date: November-December</p>
          </div>
          </div>
    </div>  

  </section>
 
</body>
</html>