<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bronx</title>
  
  <link rel="stylesheet" href="/static/bronx/bronx.css">
  <link rel="stylesheet" href="/static/style.css">

  <script src="/static/bronx/bronx.js" defer></script>
</head>
<body>
      <header>
        <div class="container">
          <img src="/static/home/Logo.png" alt="DiscoverNY Logo" id="logo">
          <nav>
              <ul id="nav-menu">
                  <li><a class="nav-button" href="{% url 'home' %}">Home</a></li>
                  <li class="dropdown">
                      <a href="#destinations" class="dropbtn">Destinations ☰</a>
                      <div class="dropdown-content">
                          <a href="{% url 'manhattan' %}">Manhattan</a>
                          <a href="{% url 'brooklyn' %}">Brooklyn</a>
                          <a href="{% url 'queens' %}">Queens</a>
                          <a href="{% url 'staten_island' %}">Staten Island</a>
                      </div>
                  </li>
                  <li><a class="nav-button" href="{% url 'recommendations' %}">Recommendations</a></li>

              </ul>
          </nav>
        <div class="hero-content">
  <h1>Bronx</h1>
           <p>Boogie Down Bronx</p>
          </div>
              </div>
            </header>

            <section id="restaurants">
              <div class="restaurants-section">
                <h2>Restaurants</h2>
                <div class="restaurant-container">
                  
                  <div class="restaurant">
                    <img src="/static/bronx/bronxpictures/antonios.jpg" alt="Restaurant Image" class="restaurant-img">
                    <a href="https://www.antoniostrattoria.com/">
                    <h3 class="restaurant-name">Antoinio's Trattoria</h3>
                    <p class="restaurant-type">Modern Japanese</p>
                    <div class="restaurant-rating">
                      <span class="star">★</span>
                      <span class="star">★</span>
                      <span class="star">★</span>
                      <span class="star">★</span>
                      <span class="star">★</span>
                    </div>
                    </a>
                  </div>
                  
                  <div class="restaurant">
                      <img src="/static/bronx/bronxpictures/marios.webp" alt="Restaurant Image" class="restaurant-img">
                      <a href="https://www.arthuravenuebronx.com/">
                          <h3 class="restaurant-name">Mario's Restaurant</h3>
                          <p class="restaurant-type">Italian</p>
                          <div class="restaurant-rating">
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">☆</span>
                          </div>
                      </a>
                  </div>
                  
                  <div class="restaurant">
                      <img src="/static/bronx/bronxpictures/johnnys.jpg" alt="Restaurant Image" class="restaurant-img">
                      <a href="https://www.johnnysreefrestaurant.com/">
                          <h3 class="restaurant-name">Johnny's Reef Restaurant</h3>
                          <p class="restaurant-type">Seafood</p>
                          <div class="restaurant-rating">
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">★</span>
                          </div>
                      </a>
                  </div>
                  
                  <div class="restaurant">
                      <img src="/static/bronx/bronxpictures/mexican.webp" alt="Restaurant Image" class="restaurant-img">
                      <a href="https://www.xochimexicanrestaurant.com/">
                          <h3 class="restaurant-name">Xochimilco Family Restaurant</h3>
                          <p class="restaurant-type">Mexican</p>
                          <div class="restaurant-rating">
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">☆</span>
                          </div>
                      </a>
                  </div>
                  
                  <div class="restaurant">
                      <img src="/static/bronx/bronxpictures/charilies.jpg" alt="Restaurant Image" class="restaurant-img">
                      <a href="https://www.charliesbarandkitchen.com/">
                          <h3 class="restaurant-name">Charlie's Bar & Kitchen</h3>
                          <p class="restaurant-type">American</p>
                          <div class="restaurant-rating">
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">★</span>
                              <span class="star">★</span>
                    </div>
                    </a>
                  </div>
                </div>
              </div>

            </section>
                <section id="events">
                  <h2 class="events-title">Events</h2>
                  <p class="event-subtitle">Special Events that occur during Warmer Weather Seasons</p>
                  <div class="event-container">
                    
                    <div class="event">
                        <a href="https://www.eventbrite.com/e/bxw24-tickets-859025276727">
                            <img src="/static/bronx/bronxpictures/bronxweek.png" alt="Bronx Week" class="event-img">
                            <h3>Bronx Week</h3>
                            <p>Annual celebration showcasing the diversity and vibrancy of the Bronx</p>
                            <p class="event-date">Date: May 11th</p>
                        </a>
                    </div>

                    
                    <div class="event">
                        <a href="https://bronxzoo.com/bz-run-for-the-wild">
                            <img src="/static/bronx/bronxpictures/runforwild.jpg" alt="Bronx Zoo's Wildlife Conservation Society Run for the Wild" class="event-img">
                            <h3>Bronx Zoo's Wildlife Conservation Society Run for the Wild</h3>
                            <p>Annual run/walk event to support wildlife conservation efforts</p>
                            <p class="event-date">Date: April 27th</p>
                        </a>
                    </div>

                    
                    <div class="event">
                        <a href="https://www.eventbrite.com/e/bronx-night-market-tickets-807361689547">
                            <img src="/static/bronx/bronxpictures/nightmarket.jpg" alt="Bronx Night Market" class="event-img">
                            <h3>Bronx Night Market</h3>
                            <p>Seasonal food festival featuring a variety of cuisines and entertainment</p>
                            <p class="event-date">Date: Once a month Spring/Summer</p>
                        </a>
                    </div>

                    
                    <div class="event">
                        <a href="https://www.thepoint.org/the-fish-parade">
                            <img src="/static/bronx/bronxpictures/fishparade1-scaled.jpg" alt="Hunts Point Fish Parade and Summer Festival" class="event-img">
                            <h3>Hunts Point Fish Parade and Summer Festival</h3>
                            <p>Annual parade and festival celebrating Hunts Point's maritime heritage</p>
                            <p class="event-date">Date: June 17th</p>
                        </a>
                    </div>
                    </div>
              </div>
            </section>

  <section id="places">
    <h2 class="places-title">Places to go to</h2>
    <div class="places-container">
      
      <div class="place">
          <img src="/static/bronx/bronxpictures/bronxzoo.jpg" alt="Bronx Zoo" class="place-img">
          <div class="place-info">
              <h3>Bronx Zoo</h3>
              <p>One of the largest metropolitan zoos in the world</p>
          </div>
      </div>

      
      <div class="place">
          <img src="/static/bronx/bronxpictures/NYBG.jpg" alt="New York Botanical Garden" class="place-img">
          <div class="place-info">
              <h3>New York Botanical Garden</h3>
              <p>Botanical garden and National Historic Landmark</p>
          </div>
      </div>

      
      <div class="place">
          <img src="/static/bronx/bronxpictures/NYYMLBP_0122.jpg" alt="Yankee Stadium" class="place-img">
          <div class="place-info">
              <h3>Yankee Stadium</h3>
              <p>Home of the New York Yankees baseball team</p>
          </div>
      </div>

      
      <div class="place">
          <img src="/static/bronx/bronxpictures/bronxmus.jpg" alt="Bronx Museum of the Arts" class="place-img">
          <div class="place-info">
              <h3>Bronx Museum of the Arts</h3>
              <p>Museum featuring contemporary and modern art</p>
          </div>
      </div>
    </div>
  </section>

  <section id="hotel">
    <h2 class="section-title">Places to Stay</h2>
    <div class="hotels-container">
      
      <div class="hotel">
        <a href="https://www.marriott.com/hotels/travel/nycbx-sheraton-bronx-new-york-hotel/">
        <img src="/static/bronx/bronxpictures/sheraton.webp" alt="Sheraton Bronx New York Hotel" class="hotel-img">
        <h3 class="hotel-name">Sheraton Bronx New York Hotel</h3>
        <p class="hotel-description">Comfort and convenience near Yankee Stadium.</p>
        </a>  
      </div>
      
      <div class="hotel">
        <a href="https://www.radissonhotelsamericas.com/en-us/hotels/radisson-bronx-ny/">
        <img src="/static/bronx/bronxpictures/hotel-exterior.jpg" alt="Radisson Hotel Bronx" class="hotel-img">
        <h3 class="hotel-name">Radisson Hotel Bronx</h3>
        <p class="hotel-description">Modern accommodations with easy access to attractions.</p>
        </a>
      </div>
      
      <div class="hotel">
        <a href="https://www.choicehotels.com/new-york/bronx/comfort-inn-hotels/ny343">
        <img src="/static/bronx/bronxpictures/comfort.jpg" alt="Comfort Inn" class="hotel-img">
        <h3 class="hotel-name">Comfort Inn</h3>
        <p class="hotel-description">Affordable comfort near major highways.</p>
        </a>
      </div>
      
      <div class="hotel">
        <a href="https://www.marriott.com/hotels/travel/nycbz-residence-inn-new-york-bronx-at-metro-center-atrium/">
        <img src="/static/bronx/bronxpictures/residence.jpg" alt="Residence Inn by Marriott Bronx" class="hotel-img">
        <h3 class="hotel-name">Residence Inn by Marriott Bronx</h3>
        <p class="hotel-description">Spacious suites with fully equipped kitchens.</p>
        </a>
      </div>
    </div>
  </section>

            <section id="try-me-section">
              <a href="{% url 'winter_bronx' %}" class="try-me-button">Try Me</a>

            </section>


            <script src="/static/bronx/bronx.js" defer></script>
         

</body>
</html>
