<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiscoverNY - Brooklyn</title>
    <link rel="stylesheet" href="/static/bronx/winterbronx.css">
    <script src="/static/bronx/winterbronx.js" defer></script>
</head>
<body>
  <header>
    <div class="container">
        <nav class="navbar">
            <img src="/static/home/Logo.png" alt="DiscoverNY Logo" class="logo">
            <div class="menu">
                <a href="{% url 'home' %}">Home</a>
                <div class="dropdown">
                  <a href="#destinations" class="dropbtn">Destinations</a>
                    <div class="dropdown-content">
                        <a href="{% url 'manhattan' %}">Manhattan</a>
                        <a href="{% url 'brooklyn' %}">Brooklyn</a>
                        <a href="{% url 'queens' %}">Queens</a>
                        <a href="{% url 'staten_island' %}">Staten Island</a>
                    </div>
                </div>
            
            </div>
        </nav>
        <div class="hero-content">
            <h1>Bronx </h1>
            <p>Boogie Down Bronx</p>
        </div>
    </div>
  </header>
  </section>
      <section id="events">
        <h2 class="events-title">Events</h2>
        <p class="event-subtitle">Special Events that occur during Colder Weather Seasons</p>
        <div class="event-container">
          <canvas id="snow"></canvas>
          
          <div class="event">
              <a href="https://bronxzoo.com/holiday-lights">
                  <img src="/static/bronx/bronxpictures/bronxzoohol.jpg" alt="Bronx Zoo Holiday Lights" class="event-img">
                  <h3>Bronx Zoo Holiday Lights</h3>
                  <p>Experience the magic of the holiday season with dazzling light displays at the Bronx Zoo</p>
                  <p class="event-date">Date: November 19th - January 8th</p>
              </a>
          </div>

          
          <div class="event">
              <a href="https://www.nybg.org/event/holiday-train-show/">
                  <img src="/static/bronx/bronxpictures/holidaytrainshow.jpg" alt="Holiday Train Show at the New York Botanical Garden" class="event-img">
                  <h3>Holiday Train Show</h3>
                  <p>Marvel at model trains zipping through a miniature New York City landscape at the New York Botanical Garden</p>
                  <p class="event-date">Date: November 20th - January 9th</p>
              </a>
          </div>

          
          <div class="event">
              <a href="https://www.eventbrite.com/e/bronx-night-market-tickets-807361689547">
                  <img src="/static/bronx/bronxpictures/BronxNightMarket.7.jpeg" alt="Bronx Night Market" class="event-img">
                  <h3>Bronx Night Market</h3>
                  <p>Enjoy diverse cuisines and artisanal goods at the Bronx Night Market</p>
                  <p class="event-date">Date: Every Saturday, October 5th - December 28th</p>
              </a>
          </div>

          
          <div class="event">
              <a href="https://www.nycgovparks.org/sub_things_to_do/attractions/bronx_trolley/images/bronx_trolley_schedule.pdf">
                  <img src="/static/bronx/bronxpictures/Holidaytrolley.webp" alt="Bronx Holiday Trolley" class="event-img">
                  <h3>Bronx Holiday Trolley</h3>
                  <p>Experience holiday cheer on a guided trolley tour through Bronx neighborhoods</p>
                  <p class="event-date">Date: December 7th - December 21st</p>
          </div>
          </div>
  </section>
 
</body>
</html>