<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DiscoverNY - Queens</title>
  
  <link rel="stylesheet" href="/static/queens/queens.css">
  <link rel="stylesheet" href="/static/style.css">

  <script src="/static/queens/queens.js" defer ></script>
  
</head>
<body>
  <header>
    <div class="container">
      <img src="/static/home/Logo.png" alt="DiscoverNY Logo" id="logo">
      <nav>
          <ul id="nav-menu">
              <li><a class="nav-button" href="{% url 'home' %}">Home</a></li>
              <li class="dropdown">
                  <a href="#destinations" class="dropbtn">Destinations ☰</a>
                  <div class="dropdown-content">
                    <a href="{% url 'manhattan' %}">Manhattan</a>
                    <a href="{% url 'brooklyn' %}">Brooklyn</a>
                    <a href="{% url 'bronx' %}">The Bronx</a>
                    <a href="{% url 'staten_island' %}">Staten Island</a>
                  </div>
              </li>
              <li><a class="nav-button" href="{% url 'recommendations' %}">Recommendations</a></li>

          </ul>
      </nav>
        <div class="hero-content">
            <h1>Queens</h1>
            <p>The World's Borough</p>
        </div>
    </div>
  </header>

  <section id="restaurants">
    <div class="restaurants-section">
      <h2>Restaurants</h2>
      <div class="restaurant-container">
        
        <div class="restaurant">
          <img src="/static/queens/queenspictures/Modoo.jpg" alt="Restaurant Image" class="restaurant-img">
          <a href="https://www.modoochickennoodle.com/">
          <h3 class="restaurant-name">Modoo</h3>
          <p class="restaurant-type">Korean Noodles</p>
          <div class="restaurant-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
          </a>
        </div>
        
        <div class="restaurant">
          <img src="/static/queens/queenspictures/TurkishGrill.jpg" alt="Restaurant Image" class="restaurant-img">
          <a href="http://www.turkishgrillnewyork.com/">
          <h3 class="restaurant-name">The Turkish Grill</h3>
          <p class="restaurant-type">Traditional Turkish</p>
          <div class="restaurant-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">☆</span>
          </div>
          </a>
        </div>
        
        <div class="restaurant">
          <img src="/static/queens/queenspictures/Calibun.jpg" alt="Restaurant Image" class="restaurant-img">
          <a href="https://www.seamless.com/menu/calibun-burgers-and-shakes-23-14-36th-ave-astoria/4521744">
          <h3 class="restaurant-name">CaliBun</h3>
          <p class="restaurant-type">American Fast Food</p>
          <div class="restaurant-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">☆</span>
          </div>
          </a>
        </div>
        
        <div class="restaurant">
          <img src="/static/queens/queenspictures/TandooriHut.jpg" alt="Restaurant Image" class="restaurant-img">
          <a href="https://www.tandoorihutqueens.com/">
          <h3 class="restaurant-name">Tandoori Hut</h3>
          <p class="restaurant-type">Indian</p>
          <div class="restaurant-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">☆</span>
          </div>
          </a>
        </div>
        
        <div class="restaurant">
          <img src="/static/queens/queenspictures/nickslobster.jpg" alt="Restaurant Image" class="restaurant-img">
          <a href="https://www.nickslobsterhouse.com/">
          <h3 class="restaurant-name">Nick's Lobster House</h3>
          <p class="restaurant-type">Seafood</p>
          <div class="restaurant-rating">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">☆</span>
          </div>
          </a>
        </div>
      </div>
    </div>

  </section>
      <section id="events">
        <h2 class="events-title">Events</h2>
        <p class="event-subtitle">Special Events that occur during Warmer Weather Seasons</p>
        <div class="event-container">
          
          <div class="event">
            <a href="https://www.ticketmaster.com/foo-fighters-everything-or-nothing-at-queens-new-york-07-17-2024/event/1D005F3EC9493A76">
            <img src="/static/queens/queenspictures/FooFighters.jpg" alt="Event 1 Image" class="event-img">
            <h3>Foo Fighters</h3>
            <p>Music Concert</p>
            <p class="event-date">Date: July 17th - July 19th</p>
            </a>
          </div>

      
          <div class="event">
            <a href="https://www.governorsballmusicfestival.com/">
            <img src="/static/queens/queenspictures/govball.png" alt="Event 1 Image" class="event-img">
            <h3>Gov Ball</h3>
            <p>Largest Pop Concert In Queens</p>
            <p class="event-date">Date: June 7th - June 9th</p>
          </div>
      
          <div class="event">
            <a href="https://www.queensbuzz.com/article/274/queens-street-fairs---street-festivals-in-queens-nyc">
            <img src="/static/queens/queenspictures/Forest Hills.png" alt="Event 1 Image" class="event-img">
            <h3>Forest Hills Summer Fest</h3>
            <p>Booming Street Festival</p>
            <p class="event-date">Date: June 25th</p>
          </div>
      
          <div class="event">
            <a href="https://www.queensbuzz.com/article/274/queens-street-fairs---street-festivals-in-queens-nyc">
            <img src="/static/queens/queenspictures/Astoria.png" alt="Event 1 Image" class="event-img">
            <h3>Astoria Street Festival</h3>
            <p>Street festival in Astoria</p>
            <p class="event-date">Date: July 6th - July 27th</p>
            </a>
          </div>
          </div>
    </div>
  </section>

  <section id="places">
    <h2 class="places-title">Places to go to</h2>
    <div class="places-container">
      
      <div class="place">
        <img src="/static/queens/queenspictures/Queens Center.jpg" alt="Central Park" class="place-img">
        <div class="place-info">
          <h3>Queens Center Mall</h3>
          <p>The Heart of Queens</p>
        </div>
      </div>

      
      <div class="place">
        <img src="/static/queens/queenspictures/GolfFH.jpg" alt="The Metropolitan Museum of Art" class="place-img">
        <div class="place-info">
          <h3>Forest hills Golf Course</h3>
          <p>Gold Course In Forest Hills</p>
        </div>
      </div>

      
      <div class="place">
        <img src="/static/queens/queenspictures/Astoriaa.png" alt="Times Square" class="place-img">
        <div class="place-info">
          <h3>Astoria</h3>
          <p>The Humble Crown of Queens</p>
        </div>
      </div>

      
      <div class="place">
        <img src="/static/queens/queenspictures/rockawaybeach.jpg" alt="High Line" class="place-img">
        <div class="place-info">
          <h3>Rockaway Beach</h3>
          <p>The Iconic Rocky Beach</p>
        </div>
      </div>
    </div>
  </section>

  <section id="hotel">
    <h2 class="section-title">Places to Stay</h2>
    <div class="hotels-container">
      
      <div class="hotel">
        <a href="https://www.reservationlodge.com/hotel/803516/?check_in=2024-04-22&check_out=2024-04-23&rooms=1&from_landing=&currency=USD&room0_adults=2&room0_children=0">
        <img src="/static/queens/queenspictures/QueensHotel.jpg" alt="Queens Hotel" class="hotel-img">
        <h3 class="hotel-name">Queens Hotel</h3>
        <p class="hotel-description">At the Heart of Queens.</p>
        </a>  
      </div>
      
      <div class="hotel">
        <a href="https://www.expedia.com/Hotel-Search?MDPCID=US.META.HPA.HOTEL-CORESEARCH-desktop.HOTEL&MDPDTL=HTL.68891449.20240422.20240423.DDT.1.CID.20730528207.AUDID..RRID.bex_us_desktop&ad=2&adults=2&children=&ct=hotel&destination=South%20Ozone%20Park%2C%20New%20York%2C%20United%20States%20of%20America&endDate=2024-04-23&exp_pg=google&gclid=CjwKCAjwz42xBhB9EiwA48pT72wvwtr-PB7srWCxAyfYZYFxXY4LXNEL0ft_umoz036DeLhr0aR1WxoCrF8QAvD_BwE&langid=1033&langid=en&mctc=10&mpf=304.32&mpg=USD&mpj=67.17&mpl=USD&mpm=24&mpn=315430195&mpo=EC&mpp=1&rateplanid=389792817&regionId=6131173&selected=68891449&semdtl=&sort=RECOMMENDED&startDate=2024-04-22&theme=&tp=&useRewards=false&userIntent=&utm_campaign=HotelAds&utm_content=mapresults&utm_medium=cpc&utm_source=google&utm_term=68891449">
        <img src="/static/queens/queenspictures/hyatt.webp" alt="he Time Square EDITION" class="hotel-img">
        <h3 class="hotel-name">Hyatt Regency JFK</h3>
        <p class="hotel-description">Beautiful stay near JFK and the beach.</p>
        </a>
      </div>
      
      <div class="hotel">
        <a href="https://www.booking.com/hotel/us/ravel.html?aid=356980&label=gog235jc-1DCAMo7AFCDnF1ZWVucy12aWxsYWdlSDNYA2inAogBAZgBMbgBF8gBDNgBA-gBAfgBAogCAagCA7gC1sKSsQbAAgHSAiRmYjVhYjIzZC00ODc1LTQ0NTAtOTQ1YS0zYWZlYWE4MzU3NDLYAgTgAgE">
        <img src="/static/queens/queenspictures/ravel.jpg" alt="InterContinental" class="hotel-img">
        <h3 class="hotel-name">Ravel Hotel</h3>
        <p class="hotel-description">Lovely Vibe at a great location.</p>
        </a>
      </div>
      
      <div class="hotel">
        <a href="https://www.booking.com/hotel/us/ravel.html?aid=356980&label=gog235jc-1DCAMo7AFCDnF1ZWVucy12aWxsYWdlSDNYA2inAogBAZgBMbgBF8gBDNgBA-gBAfgBAogCAagCA7gC1sKSsQbAAgHSAiRmYjVhYjIzZC00ODc1LTQ0NTAtOTQ1YS0zYWZlYWE4MzU3NDLYAgTgAgE">
        <img src="/static/queens/queenspictures/ramada.jpg" alt="pendry" class="hotel-img">
        <h3 class="hotel-name">Ramada</h3>
        <p class="hotel-description">Friendly and polite staff with a great roomw.</p>
        </a>
      </div>
    </div>
  </section>

  <section id="try-me-section">
    <a href="{% url 'winter_queens' %}" class="try-me-button">Try Me</a>
  </section>


  <script src="queens.js" defer></script>
  
  
</body>
</html>
