<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DiscoverNY - NYC Seasons Explorer</title>
    <link rel="stylesheet" href="/static/style.css" />

    <script src="/static/script.js"></script>
  </head>

  <body>
    <header>
      <img src="/static/home/Logo.png" alt="DiscoverNY Logo" id="logo" />
      <nav>
        <ul id="nav-menu">
          <li class="dropdown">  
            <a href="#destinations" class="dropbtn">Destinations ☰</a>
            <div class="dropdown-content">
              <a href="{% url 'manhattan' %}">Manhattan</a>
              <a href="{% url 'brooklyn' %}">Brooklyn</a>
              <a href="{% url 'queens' %}">Queens</a>
              <a href="{% url 'bronx' %}">The Bronx</a>
              <a href="{% url 'staten_island' %}">Staten Island</a>
            </div>
          </li>
          <li><a class="recommendation-link" href="{% url 'recommendations' %}">Recommendations</a></li>
        </ul>
      </nav>
      <div id="hero">
        <h1>Explore New York City Through The Seasons</h1>
        <p>Find personalized activities, dining, and events with DiscoverNY.</p>
      </div>
    </header>

    <main>
      <section id="top-destinations">
        <h2>The 5 NYC Boroughs</h2>
        <div class="boroughs-container">
          <div class="borough" id="manhattan">
            <a href="{% url 'manhattan' %}" target="_blank">
              <h3>Manhattan</h3>
              <img src="/static/home/manhattan.jpg" alt="Manhattan" />
            </a>
          </div>
          <div class="borough" id="brooklyn">
            <a href="{% url 'brooklyn' %}" target="_blank">
              <h3>Brooklyn</h3>
              <img src="/static/home/brooklyn.jpg" alt="Brooklyn" />
            </a>
          </div>
          <div class="borough" id="queens">
            <a href="{% url 'queens' %}" target="_blank">
              <h3>Queens</h3>
              <img src="/static/home/queens.jpg" alt="Queens" />
            </a>
          </div>
          <div class="borough" id="bronx">
            <a href="{% url 'bronx' %}" target="_blank">
              <h3>The Bronx</h3>
              <img src="/static/home/bronx.jpg" alt="The Bronx" />
            </a>
          </div>
          <div class="borough" id="staten-island">
            <a href="{% url 'staten_island' %}" target="_blank">
              <h3>Staten Island</h3>
              <img src="/static/home/si.jpg" alt="Staten Island" />
            </a>
          </div>
        </div>
      </section>

      <section id="services">
        <h2>Our Services</h2>
        <p class="services-description">
          We provide newcomers with NYC tips such as:
        </p>
        <div class="services-content">
          <ul>
            <li>Personalized Itinerary Planning</li>
            <li>Seasonal Events and Attractions Guide</li>
            <li>Local Dining Recommendations</li>
            <li>Local Culture and Etiquette Tips</li>
          </ul>
          <div class="service-image" id="serviceImage">
            <img src="/static/home/nyctour.jpg" alt="NYC Image" />
          </div>
        </div>
      </section>

      <section id="testimonials">
        <h2>What People Say About Us</h2>
        <div class="testimonials-container">
          <div class="testimonials-column left-column">
            <div class="testimonial">
              <div class="testimonial-image-box">
                <img
                  src="/static/home/WenjiaLi.jpg"
                  alt="Wenjia Li"
                  class="testimonial-image"
                />
              </div>
              <h3 class="testimonial-name">Professor Li</h3>
              <div class="testimonial-text-box">
                <p class="testimonial-text">
                  Very Simple and Convenient for my NYC vacation
                </p>
              </div>
            </div>
            <div class="testimonial">
              <div class="testimonial-image-box">
                <img
                  src="/static/home/sketch.png"
                  alt="Person 2"
                  class="testimonial-image"
                />
              </div>
              <h3 class="testimonial-name">Sketch</h3>
              <div class="testimonial-text-box">
                <p class="testimonial-text">
                  What's up brother! This was easy to use for all of my
                  activities.
                </p>
              </div>
            </div>
            <div class="testimonial">
              <div class="testimonial-image-box">
                <img
                  src="/static/home/adam.jpg"
                  alt="Person 3"
                  class="testimonial-image"
                />
              </div>
              <h3 class="testimonial-name">Adam Sandler</h3>
              <div class="testimonial-text-box">
                <p class="testimonial-text">
                  I live in NY, but this helped me visit places I never knew
                  about.
                </p>
              </div>
            </div>
          </div>
          <div class="testimonials-column right-column">
            <div class="testimonial">
              <div class="testimonial-image-box">
                <img
                  src="/static/home/lizzo.jpg"
                  alt="Person 4"
                  class="testimonial-image"
                />
              </div>
              <h3 class="testimonial-name">Lizzo</h3>
              <div class="testimonial-text-box">
                <p class="testimonial-text">
                  After my shows, I was able to visit great restaurants!
                </p>
              </div>
            </div>
            <div class="testimonial">
              <div class="testimonial-image-box">
                <img
                  src="/static/home/lebron.jpg"
                  alt="Person 5"
                  class="testimonial-image"
                />
              </div>
              <h3 class="testimonial-name">LeBron James</h3>
              <div class="testimonial-text-box">
                <p class="testimonial-text">
                  I was able to find cool events to participate in with my family
                </p>
              </div>
            </div>
            <div class="testimonial">
              <div class="testimonial-image-box">
                <img
                  src="/static/home/djK.png"
                  alt="Person 6"
                  class="testimonial-image"
                />
              </div>
              <h3 class="testimonial-name">DJ Kahled</h3>
              <div class="testimonial-text-box">
                <p class="testimonial-text">
                  I would use this again, best hotel recommendations in the city!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <h2>Subscribe to get the latest on NYC experiences!</h2>
    </footer>
  </body>
</html>
